In [1]:
# Importing the libraries 

import pandas as pd                      #Data Analysis
import numpy as np                       #Array or Math Functions
import matplotlib.pyplot as plt          #Plotting the diagrams

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

In [2]:
# Load the data from all the work sheets

power_plant_all = pd.concat(pd.read_excel(r"C:\Users\Admin\Downloads\Raju Sir DLS\Regression Analysis Datasets\Power_Plant.xlsx",
                                          sheet_name=None), ignore_index=True)
power_plant_all.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [11]:
pplant_BK = power_plant_all.copy()

In [3]:
# Load the data from sheet1

power_plant_01 = pd.read_excel(r"C:\Users\Admin\Downloads\Raju Sir DLS\Regression Analysis Datasets\Power_Plant.xlsx", sheet_name=0)
power_plant_01.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [4]:
power_plant_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

In [5]:
# Identify the Independent and Target variables

IndepVar = []
for col in power_plant_01.columns:
    if col != 'PE':
        IndepVar.append(col)

TargetVar = 'PE'

x = power_plant_01[IndepVar]
y = power_plant_01[TargetVar]

In [6]:
# Split the data into train and test

from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
x_test_BK = x_test.copy()

In [7]:
# Scaling the features by using MinMaxScaler  standardisation and normalisation
 
from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

x_train = mmscaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train)

x_test = mmscaler.fit_transform(x_test)
x_test = pd.DataFrame(x_test)

In [8]:
# Train the algorithm and build the model with train dataset

from sklearn.linear_model import LinearRegression

MulRGR = LinearRegression()

# Train the model with training dataset

MulRGR.fit(x_train, y_train)

# Predict the model with test dataset

y_pred = MulRGR.predict(x_test)

In [9]:
# Evaluation metrics for Regression analysis

from sklearn import metrics

print('Mean Absolute Error (MAE):', round(metrics.mean_absolute_error(y_test, y_pred),3))  
print('Mean Squared Error (MSE):', round(metrics.mean_squared_error(y_test, y_pred),3))  
print('Root Mean Squared Error (RMSE):', round(np.sqrt(metrics.mean_squared_error(y_test, y_pred)),3))
print('R2_score:', round(metrics.r2_score(y_test, y_pred),6))
print('Root Mean Squared Log Error (RMSLE):', round(np.log(np.sqrt(metrics.mean_squared_error(y_test, y_pred))),3))

# Define the function to calculate the MAPE - Mean Absolute Percentage Error

def MAPE (y_test, y_pred): 
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

# Evaluation of MAPE 

result = MAPE(y_test, y_pred)
print('Mean Absolute Percentage Error (MAPE):', round(result, 3), '%')

# Calculate Adjusted R squared values 

r_squared = round(metrics.r2_score(y_test, y_pred),6)
adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
print('Adj R Square: ', adjusted_r_squared)

Mean Absolute Error (MAE): 3.929
Mean Squared Error (MSE): 24.233
Root Mean Squared Error (RMSE): 4.923
R2_score: 0.917338
Root Mean Squared Log Error (RMSLE): 1.594
Mean Absolute Percentage Error (MAPE): 0.87 %
Adj R Square:  0.917303

In [12]:
Results = pd.DataFrame({'PE_A':y_test, 'PE_P':y_pred})

# Merge two Dataframes on index of both the dataframes

ResultsFinal = pplant_BK.merge(Results, left_index=True, right_index=True)
ResultsFinal.sample(10)

         AT      V       AP     RH      PE    PE_A        PE_P
6073   9.55  39.66  1018.80  74.88  480.74  480.74  479.274499
877   26.63  74.16  1009.72  83.26  436.03  436.03  436.167130
1002  18.63  48.92  1011.37  71.72  450.29  450.29  459.566524
2885   6.99  40.07  1014.83  54.36  490.11  490.11  487.212519
3131  25.41  65.12  1016.01  53.39  442.86  442.86  445.706556
4341  14.66  42.07  1018.14  84.68  462.77  462.77  467.181557
5272  21.08  63.13  1013.53  98.00  443.51  443.51  447.408522
1558  31.25  68.94  1005.99  49.61  434.51  434.51  433.548963
2614  32.07  71.29  1008.43  44.95  426.96  426.96  432.261230
6308   8.87  41.16  1023.17  94.13  472.45  472.45  477.412970