In [4]:
# Importing the libraries 

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

import pandasql as psql

In [8]:
# Load the claims data

claims_data = pd.read_csv(r"C:\Users\Admin\Downloads\Raju Sir DLS\Claims_Data_Missing_Values.csv", header = 0)
claims_data.head()

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,NaN,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,NaN
4,CL-1712003,140846711.0,NaN,Car,NaN,1567.45,2934.25

In [9]:
# Display the dataset information

claims_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     21 non-null     object
 1   Policy_Num   20 non-null     float64
 2   Driver_Age   15 non-null     float64
 3   Policy_Type  20 non-null     object
 4   Pre_Claims   17 non-null     float64
 5   Premium_AMT  17 non-null     float64
 6   Claim_AMT    16 non-null     float64
dtypes: float64(5), object(2)
memory usage: 1.3+ KB

In [10]:
# Display the Claims data

claims_data

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,NaN,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,NaN
4,CL-1712003,140846711.0,NaN,Car,NaN,1567.45,2934.25
5,CL-1518709,126885444.0,NaN,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,NaN,0.0,NaN,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,NaN,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,NaN
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,NaN,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,NaN,1495.15,NaN
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,NaN,Truck,0.0,NaN,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,NaN,921.75
17,CL-1353387,181411853.0,29.0,Truck,NaN,1401.25,NaN
18,CL-1337183,141365962.0,NaN,Car,1.0,1672.75,5919.15
19,CL-1969136,NaN,45.0,Van,1.0,NaN,NaN
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [11]:
# Highlighting cells with red colour for nan values 

claims_data.style.highlight_null('red')

In [14]:
# Highlighting text with nan values instead of background

claims_data.style.applymap(lambda cell: 'color:red' if pd.isnull(cell) else '')

In [15]:
# Display the null values in the dataset by count in each variable

claims_data.isnull().sum()

Claim_ID       0
Policy_Num     1
Driver_Age     6
Policy_Type    1
Pre_Claims     4
Premium_AMT    4
Claim_AMT      5
dtype: int64

In [16]:
# Identify the numerical and categorical variables

num_vars = claims_data.columns[claims_data.dtypes != 'object']
cat_vars = claims_data.columns[claims_data.dtypes == 'object']
print(num_vars)
print(cat_vars)

Index(['Policy_Num', 'Driver_Age', 'Pre_Claims', 'Premium_AMT', 'Claim_AMT'], dtype='object')
Index(['Claim_ID', 'Policy_Type'], dtype='object')

In [17]:
# Create new file with filled '0' of all null values

claims_data_new = claims_data.fillna(0)
claims_data_new

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,0.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,0.00
4,CL-1712003,140846711.0,0.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,0.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,0,0.0,0.00,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,0.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,0.00
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,0.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,0.00
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,0.0,Truck,0.0,0.00,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,0.00,921.75
17,CL-1353387,181411853.0,29.0,Truck,0.0,1401.25,0.00
18,CL-1337183,141365962.0,0.0,Car,1.0,1672.75,5919.15
19,CL-1969136,0.0,45.0,Van,1.0,0.00,0.00
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [18]:
# Convert float to integer value of 'Driver_Age' and 'Policy_Num'

claims_data_new['Driver_Age'] = claims_data_new['Driver_Age'].astype(int)
claims_data_new['Policy_Num'] = claims_data_new['Policy_Num'].astype(int)
claims_data_new['Pre_Claims'] = claims_data_new['Pre_Claims'].astype(int)
claims_data_new

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871,25,Car,0,1272.45,12634.25
1,CL-1742889,135517422,26,Truck,0,1052.25,8956.15
2,CL-1384474,176552663,19,Car,1,1389.75,3691.65
3,CL-1283351,157711099,35,Car,0,980.85,0.00
4,CL-1712003,140846711,0,Car,0,1567.45,2934.25
5,CL-1518709,126885444,0,Van,0,1173.95,590.65
6,CL-1661021,191874052,61,0,0,0.00,1492.35
7,CL-1622931,184558739,38,Van,0,1146.95,962.15
8,CL-1470986,179027710,0,Van,1,1453.65,2691.95
9,CL-1886922,179500989,53,Truck,0,1252.25,0.00
10,CL-1727554,176634765,60,Car,1,1584.75,6924.15
11,CL-1984398,124196289,0,Van,0,1264.25,650.95
12,CL-1927305,132014482,34,Car,0,1135.45,350.95
13,CL-1543745,173697008,29,Truck,0,1495.15,0.00
14,CL-1525750,130465403,36,Car,0,1123.25,264.75
15,CL-1773900,154882349,0,Truck,0,0.00,598.65
16,CL-1354933,154877763,52,Van,0,0.00,921.75
17,CL-1353387,181411853,29,Truck,0,1401.25,0.00
18,CL-1337183,141365962,0,Car,1,1672.75,5919.15
19,CL-1969136,0,45,Van,1,0.00,0.00
20,CL-1893203,161682966,65,Car,0,1425.65,736.95

In [19]:
# Fill null values of each variable as calculated 

claims_data_new2 = claims_data.fillna({'Driver_Age': 40,
                                       'Policy_Num':0,
                                       'Policy_Type': 'None', 
                                       'Pre_Claims': 0, 
                                       'Premium_AMT': 0, 
                                       'Claim_AMT': 0})

claims_data_new2

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,0.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,0.00
4,CL-1712003,140846711.0,40.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,40.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,None,0.0,0.00,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,40.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,0.00
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,40.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,0.00
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,40.0,Truck,0.0,0.00,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,0.00,921.75
17,CL-1353387,181411853.0,29.0,Truck,0.0,1401.25,0.00
18,CL-1337183,141365962.0,40.0,Car,1.0,1672.75,5919.15
19,CL-1969136,0.0,45.0,Van,1.0,0.00,0.00
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [20]:
# Missing Values with Forward  Fill 

claims_data_new3 = claims_data.fillna(method="ffill")
claims_data_new3

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,0.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,3691.65
4,CL-1712003,140846711.0,35.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,35.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,Van,0.0,1173.95,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,38.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,2691.95
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,60.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,350.95
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,36.0,Truck,0.0,1123.25,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,1123.25,921.75
17,CL-1353387,181411853.0,29.0,Truck,0.0,1401.25,921.75
18,CL-1337183,141365962.0,29.0,Car,1.0,1672.75,5919.15
19,CL-1969136,141365962.0,45.0,Van,1.0,1672.75,5919.15
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [21]:
# Missing Values with Backward Fill

claims_data_new4 = claims_data.fillna(method="bfill")
claims_data_new4

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,1.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,2934.25
4,CL-1712003,140846711.0,61.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,61.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,Van,0.0,1146.95,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,53.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,6924.15
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,34.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,264.75
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,52.0,Truck,0.0,1401.25,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,1401.25,921.75
17,CL-1353387,181411853.0,29.0,Truck,1.0,1401.25,5919.15
18,CL-1337183,141365962.0,45.0,Car,1.0,1672.75,5919.15
19,CL-1969136,161682966.0,45.0,Van,1.0,1425.65,736.95
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [22]:
# Forward Fill with limit option 

claims_data_new5 = claims_data.fillna(method="ffill", limit=1)
claims_data_new5

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,0.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,3691.65
4,CL-1712003,140846711.0,35.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,NaN,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,Van,0.0,1173.95,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,38.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,2691.95
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,60.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,350.95
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,36.0,Truck,0.0,1123.25,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,NaN,921.75
17,CL-1353387,181411853.0,29.0,Truck,0.0,1401.25,921.75
18,CL-1337183,141365962.0,29.0,Car,1.0,1672.75,5919.15
19,CL-1969136,141365962.0,45.0,Van,1.0,1672.75,5919.15
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [23]:
# Backward Fill with limit option 

claims_data_new5 = claims_data.fillna(method="bfill", limit=1)
claims_data_new5

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,1.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,2934.25
4,CL-1712003,140846711.0,NaN,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,61.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,Van,0.0,1146.95,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,53.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,6924.15
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,34.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,264.75
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,52.0,Truck,0.0,NaN,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,1401.25,921.75
17,CL-1353387,181411853.0,29.0,Truck,1.0,1401.25,5919.15
18,CL-1337183,141365962.0,45.0,Car,1.0,1672.75,5919.15
19,CL-1969136,161682966.0,45.0,Van,1.0,1425.65,736.95
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [24]:
# Use interpolate option

claims_data_new6 = claims_data.interpolate(method ='linear', limit_direction ='forward')
claims_data_new6

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.000000,Car,0.0,1272.450000,12634.25
1,CL-1742889,135517422.0,26.000000,Truck,0.5,1052.250000,8956.15
2,CL-1384474,176552663.0,19.000000,Car,1.0,1389.750000,3691.65
3,CL-1283351,157711099.0,35.000000,Car,0.0,980.850000,3312.95
4,CL-1712003,140846711.0,43.666667,Car,0.0,1567.450000,2934.25
5,CL-1518709,126885444.0,52.333333,Van,0.0,1173.950000,590.65
6,CL-1661021,191874052.0,61.000000,NaN,0.0,1160.450000,1492.35
7,CL-1622931,184558739.0,38.000000,Van,0.0,1146.950000,962.15
8,CL-1470986,179027710.0,45.500000,Van,1.0,1453.650000,2691.95
9,CL-1886922,179500989.0,53.000000,Truck,0.0,1252.250000,4808.05
10,CL-1727554,176634765.0,60.000000,Car,1.0,1584.750000,6924.15
11,CL-1984398,124196289.0,47.000000,Van,0.0,1264.250000,650.95
12,CL-1927305,132014482.0,34.000000,Car,0.0,1135.450000,350.95
13,CL-1543745,173697008.0,29.000000,Truck,0.0,1495.150000,307.85
14,CL-1525750,130465403.0,36.000000,Car,0.0,1123.250000,264.75
15,CL-1773900,154882349.0,44.000000,Truck,0.0,1215.916667,598.65
16,CL-1354933,154877763.0,52.000000,Van,0.0,1308.583333,921.75
17,CL-1353387,181411853.0,29.000000,Truck,0.5,1401.250000,3420.45
18,CL-1337183,141365962.0,37.000000,Car,1.0,1672.750000,5919.15
19,CL-1969136,151524464.0,45.000000,Van,1.0,1549.200000,3328.05
20,CL-1893203,161682966.0,65.000000,Car,0.0,1425.650000,736.95

In [25]:
# Drop all null values of rows 

claims_data_new7 = claims_data.dropna()
claims_data_new7

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [26]:
# Drop all null value of columns

claims_data_new20 = claims_data.dropna(axis = 1, how ='any')
claims_data_new20

      Claim_ID
0   CL-1292034
1   CL-1742889
2   CL-1384474
3   CL-1283351
4   CL-1712003
5   CL-1518709
6   CL-1661021
7   CL-1622931
8   CL-1470986
9   CL-1886922
10  CL-1727554
11  CL-1984398
12  CL-1927305
13  CL-1543745
14  CL-1525750
15  CL-1773900
16  CL-1354933
17  CL-1353387
18  CL-1337183
19  CL-1969136
20  CL-1893203

In [27]:
# Drop all null value of rows

claims_data_new21 = claims_data.dropna(axis = 0, how ='any')
claims_data_new21

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [28]:
claims_data['Policy_Type'].value_counts()

Car      9
Van      6
Truck    5
Name: Policy_Type, dtype: int64

In [29]:
# Fill null values of each variable as calculated 

claims_data_new11 = claims_data.fillna({'Driver_Age': 29,
                                        'Policy_Type': 'Car',
                                        'Pre_Claims': 0,
                                        'Premium_AMT': 1272.45,
                                        'Claim_AMT': 1227.25})

claims_data_new11

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,0.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,1227.25
4,CL-1712003,140846711.0,29.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,29.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,Car,0.0,1272.45,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,29.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,1227.25
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,29.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,1227.25
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,29.0,Truck,0.0,1272.45,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,1272.45,921.75
17,CL-1353387,181411853.0,29.0,Truck,0.0,1401.25,1227.25
18,CL-1337183,141365962.0,29.0,Car,1.0,1672.75,5919.15
19,CL-1969136,NaN,45.0,Van,1.0,1272.45,1227.25
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [30]:
# Fill null values of each variable as calculated 

claims_data_new12 = claims_data_new11.fillna({'Policy_Num': 123456789})

claims_data_new12

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,0.0,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,1227.25
4,CL-1712003,140846711.0,29.0,Car,0.0,1567.45,2934.25
5,CL-1518709,126885444.0,29.0,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,Car,0.0,1272.45,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,29.0,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,1227.25
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,29.0,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,0.0,1495.15,1227.25
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,29.0,Truck,0.0,1272.45,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,1272.45,921.75
17,CL-1353387,181411853.0,29.0,Truck,0.0,1401.25,1227.25
18,CL-1337183,141365962.0,29.0,Car,1.0,1672.75,5919.15
19,CL-1969136,123456789.0,45.0,Van,1.0,1272.45,1227.25
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [31]:
# Convert float to integer value of 'Driver_Age' and 'Policy_Num'

claims_data_new12['Driver_Age'] = claims_data_new12['Driver_Age'].astype(int)
claims_data_new12['Policy_Num'] = claims_data_new12['Policy_Num'].astype(int)
claims_data_new12['Pre_Claims'] = claims_data_new12['Pre_Claims'].astype(int)
claims_data_new12

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871,25,Car,0,1272.45,12634.25
1,CL-1742889,135517422,26,Truck,0,1052.25,8956.15
2,CL-1384474,176552663,19,Car,1,1389.75,3691.65
3,CL-1283351,157711099,35,Car,0,980.85,1227.25
4,CL-1712003,140846711,29,Car,0,1567.45,2934.25
5,CL-1518709,126885444,29,Van,0,1173.95,590.65
6,CL-1661021,191874052,61,Car,0,1272.45,1492.35
7,CL-1622931,184558739,38,Van,0,1146.95,962.15
8,CL-1470986,179027710,29,Van,1,1453.65,2691.95
9,CL-1886922,179500989,53,Truck,0,1252.25,1227.25
10,CL-1727554,176634765,60,Car,1,1584.75,6924.15
11,CL-1984398,124196289,29,Van,0,1264.25,650.95
12,CL-1927305,132014482,34,Car,0,1135.45,350.95
13,CL-1543745,173697008,29,Truck,0,1495.15,1227.25
14,CL-1525750,130465403,36,Car,0,1123.25,264.75
15,CL-1773900,154882349,29,Truck,0,1272.45,598.65
16,CL-1354933,154877763,52,Van,0,1272.45,921.75
17,CL-1353387,181411853,29,Truck,0,1401.25,1227.25
18,CL-1337183,141365962,29,Car,1,1672.75,5919.15
19,CL-1969136,123456789,45,Van,1,1272.45,1227.25
20,CL-1893203,161682966,65,Car,0,1425.65,736.95

In [32]:
# Load the claims data

claims_data = pd.read_csv(r"C:\Users\Admin\Downloads\Raju Sir DLS\Claims_Data_Missing_Values.csv", header = 0)
claims_data

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25.0,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26.0,Truck,NaN,1052.25,8956.15
2,CL-1384474,176552663.0,19.0,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35.0,Car,0.0,980.85,NaN
4,CL-1712003,140846711.0,NaN,Car,NaN,1567.45,2934.25
5,CL-1518709,126885444.0,NaN,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61.0,NaN,0.0,NaN,1492.35
7,CL-1622931,184558739.0,38.0,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,NaN,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53.0,Truck,0.0,1252.25,NaN
10,CL-1727554,176634765.0,60.0,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,NaN,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34.0,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29.0,Truck,NaN,1495.15,NaN
14,CL-1525750,130465403.0,36.0,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,NaN,Truck,0.0,NaN,598.65
16,CL-1354933,154877763.0,52.0,Van,0.0,NaN,921.75
17,CL-1353387,181411853.0,29.0,Truck,NaN,1401.25,NaN
18,CL-1337183,141365962.0,NaN,Car,1.0,1672.75,5919.15
19,CL-1969136,NaN,45.0,Van,1.0,NaN,NaN
20,CL-1893203,161682966.0,65.0,Car,0.0,1425.65,736.95

In [33]:
# Copy the dataset to new file

claims_data_F1 = claims_data.copy()
claims_data_F2 = claims_data.copy()

In [34]:
# Using KNN Imputer to address the Driver_Age missing values

# KNNImputer(missing_values=np.nan, n_neighbors=5, weights='uniform', metric='nan_euclidean', 
# copy=True, add_indicator=False)

from sklearn.impute import KNNImputer

imputer_int = KNNImputer(missing_values=np.nan)

# Fill the missing values for 'Driver_Age'

claims_data_F1['Driver_Age'] = imputer_int.fit_transform(claims_data_F1[['Driver_Age']])

claims_data_F1['Driver_Age'] = claims_data_F1['Driver_Age'].astype(int)

claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25,Car,0.0,1272.45,12634.25
1,CL-1742889,135517422.0,26,Truck,NaN,1052.25,8956.15
2,CL-1384474,176552663.0,19,Car,1.0,1389.75,3691.65
3,CL-1283351,157711099.0,35,Car,0.0,980.85,NaN
4,CL-1712003,140846711.0,40,Car,NaN,1567.45,2934.25
5,CL-1518709,126885444.0,40,Van,0.0,1173.95,590.65
6,CL-1661021,191874052.0,61,NaN,0.0,NaN,1492.35
7,CL-1622931,184558739.0,38,Van,0.0,1146.95,962.15
8,CL-1470986,179027710.0,40,Van,1.0,1453.65,2691.95
9,CL-1886922,179500989.0,53,Truck,0.0,1252.25,NaN
10,CL-1727554,176634765.0,60,Car,1.0,1584.75,6924.15
11,CL-1984398,124196289.0,40,Van,0.0,1264.25,650.95
12,CL-1927305,132014482.0,34,Car,0.0,1135.45,350.95
13,CL-1543745,173697008.0,29,Truck,NaN,1495.15,NaN
14,CL-1525750,130465403.0,36,Car,0.0,1123.25,264.75
15,CL-1773900,154882349.0,40,Truck,0.0,NaN,598.65
16,CL-1354933,154877763.0,52,Van,0.0,NaN,921.75
17,CL-1353387,181411853.0,29,Truck,NaN,1401.25,NaN
18,CL-1337183,141365962.0,40,Car,1.0,1672.75,5919.15
19,CL-1969136,NaN,45,Van,1.0,NaN,NaN
20,CL-1893203,161682966.0,65,Car,0.0,1425.65,736.95

In [35]:
# Fill the missing values for 'Premium_AMT'

claims_data_F1['Premium_AMT'] = imputer_int.fit_transform(claims_data_F1[['Premium_AMT']])

claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25,Car,0.0,1272.450000,12634.25
1,CL-1742889,135517422.0,26,Truck,NaN,1052.250000,8956.15
2,CL-1384474,176552663.0,19,Car,1.0,1389.750000,3691.65
3,CL-1283351,157711099.0,35,Car,0.0,980.850000,NaN
4,CL-1712003,140846711.0,40,Car,NaN,1567.450000,2934.25
5,CL-1518709,126885444.0,40,Van,0.0,1173.950000,590.65
6,CL-1661021,191874052.0,61,NaN,0.0,1317.179412,1492.35
7,CL-1622931,184558739.0,38,Van,0.0,1146.950000,962.15
8,CL-1470986,179027710.0,40,Van,1.0,1453.650000,2691.95
9,CL-1886922,179500989.0,53,Truck,0.0,1252.250000,NaN
10,CL-1727554,176634765.0,60,Car,1.0,1584.750000,6924.15
11,CL-1984398,124196289.0,40,Van,0.0,1264.250000,650.95
12,CL-1927305,132014482.0,34,Car,0.0,1135.450000,350.95
13,CL-1543745,173697008.0,29,Truck,NaN,1495.150000,NaN
14,CL-1525750,130465403.0,36,Car,0.0,1123.250000,264.75
15,CL-1773900,154882349.0,40,Truck,0.0,1317.179412,598.65
16,CL-1354933,154877763.0,52,Van,0.0,1317.179412,921.75
17,CL-1353387,181411853.0,29,Truck,NaN,1401.250000,NaN
18,CL-1337183,141365962.0,40,Car,1.0,1672.750000,5919.15
19,CL-1969136,NaN,45,Van,1.0,1317.179412,NaN
20,CL-1893203,161682966.0,65,Car,0.0,1425.650000,736.95

In [36]:
# Fill the missing values for 'Claim_AMT'

claims_data_F1['Claim_AMT'] = imputer_int.fit_transform(claims_data_F1[['Claim_AMT']])

claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25,Car,0.0,1272.450000,12634.25000
1,CL-1742889,135517422.0,26,Truck,NaN,1052.250000,8956.15000
2,CL-1384474,176552663.0,19,Car,1.0,1389.750000,3691.65000
3,CL-1283351,157711099.0,35,Car,0.0,980.850000,3145.04375
4,CL-1712003,140846711.0,40,Car,NaN,1567.450000,2934.25000
5,CL-1518709,126885444.0,40,Van,0.0,1173.950000,590.65000
6,CL-1661021,191874052.0,61,NaN,0.0,1317.179412,1492.35000
7,CL-1622931,184558739.0,38,Van,0.0,1146.950000,962.15000
8,CL-1470986,179027710.0,40,Van,1.0,1453.650000,2691.95000
9,CL-1886922,179500989.0,53,Truck,0.0,1252.250000,3145.04375
10,CL-1727554,176634765.0,60,Car,1.0,1584.750000,6924.15000
11,CL-1984398,124196289.0,40,Van,0.0,1264.250000,650.95000
12,CL-1927305,132014482.0,34,Car,0.0,1135.450000,350.95000
13,CL-1543745,173697008.0,29,Truck,NaN,1495.150000,3145.04375
14,CL-1525750,130465403.0,36,Car,0.0,1123.250000,264.75000
15,CL-1773900,154882349.0,40,Truck,0.0,1317.179412,598.65000
16,CL-1354933,154877763.0,52,Van,0.0,1317.179412,921.75000
17,CL-1353387,181411853.0,29,Truck,NaN,1401.250000,3145.04375
18,CL-1337183,141365962.0,40,Car,1.0,1672.750000,5919.15000
19,CL-1969136,NaN,45,Van,1.0,1317.179412,3145.04375
20,CL-1893203,161682966.0,65,Car,0.0,1425.650000,736.95000

In [37]:
# Fill null values of Policy_Num with actual value '123456789'  

claims_data_F1 = claims_data_F1.fillna({'Policy_Num': 123456789})

claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25,Car,0.0,1272.450000,12634.25000
1,CL-1742889,135517422.0,26,Truck,NaN,1052.250000,8956.15000
2,CL-1384474,176552663.0,19,Car,1.0,1389.750000,3691.65000
3,CL-1283351,157711099.0,35,Car,0.0,980.850000,3145.04375
4,CL-1712003,140846711.0,40,Car,NaN,1567.450000,2934.25000
5,CL-1518709,126885444.0,40,Van,0.0,1173.950000,590.65000
6,CL-1661021,191874052.0,61,NaN,0.0,1317.179412,1492.35000
7,CL-1622931,184558739.0,38,Van,0.0,1146.950000,962.15000
8,CL-1470986,179027710.0,40,Van,1.0,1453.650000,2691.95000
9,CL-1886922,179500989.0,53,Truck,0.0,1252.250000,3145.04375
10,CL-1727554,176634765.0,60,Car,1.0,1584.750000,6924.15000
11,CL-1984398,124196289.0,40,Van,0.0,1264.250000,650.95000
12,CL-1927305,132014482.0,34,Car,0.0,1135.450000,350.95000
13,CL-1543745,173697008.0,29,Truck,NaN,1495.150000,3145.04375
14,CL-1525750,130465403.0,36,Car,0.0,1123.250000,264.75000
15,CL-1773900,154882349.0,40,Truck,0.0,1317.179412,598.65000
16,CL-1354933,154877763.0,52,Van,0.0,1317.179412,921.75000
17,CL-1353387,181411853.0,29,Truck,NaN,1401.250000,3145.04375
18,CL-1337183,141365962.0,40,Car,1.0,1672.750000,5919.15000
19,CL-1969136,123456789.0,45,Van,1.0,1317.179412,3145.04375
20,CL-1893203,161682966.0,65,Car,0.0,1425.650000,736.95000

In [38]:
# Display the information

claims_data_F1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     21 non-null     object
 1   Policy_Num   21 non-null     float64
 2   Driver_Age   21 non-null     int32
 3   Policy_Type  20 non-null     object
 4   Pre_Claims   17 non-null     float64
 5   Premium_AMT  21 non-null     float64
 6   Claim_AMT    21 non-null     float64
dtypes: float64(4), int32(1), object(2)
memory usage: 1.2+ KB

In [39]:
# Find the Policy_type by count

claims_data_F1['Policy_Type'].value_counts()

Car      9
Van      6
Truck    5
Name: Policy_Type, dtype: int64

In [40]:
# Find the PPre_Claims by count

claims_data_F1['Pre_Claims'].value_counts()

0.0    12
1.0     5
Name: Pre_Claims, dtype: int64

In [41]:
# SimpleImputer(missing_values=np.nan, strategy='mean', fill_value=None, verbose=0, copy=True, add_indicator=False)

from sklearn.impute import SimpleImputer

imputer_str = SimpleImputer(missing_values=np.nan,strategy='most_frequent')

claims_data_F1['Policy_Type'] = imputer_str.fit_transform(claims_data_F1[['Policy_Type']])
claims_data_F1['Pre_Claims'] = imputer_str.fit_transform(claims_data_F1[['Pre_Claims']])
claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871.0,25,Car,0.0,1272.450000,12634.25000
1,CL-1742889,135517422.0,26,Truck,0.0,1052.250000,8956.15000
2,CL-1384474,176552663.0,19,Car,1.0,1389.750000,3691.65000
3,CL-1283351,157711099.0,35,Car,0.0,980.850000,3145.04375
4,CL-1712003,140846711.0,40,Car,0.0,1567.450000,2934.25000
5,CL-1518709,126885444.0,40,Van,0.0,1173.950000,590.65000
6,CL-1661021,191874052.0,61,Car,0.0,1317.179412,1492.35000
7,CL-1622931,184558739.0,38,Van,0.0,1146.950000,962.15000
8,CL-1470986,179027710.0,40,Van,1.0,1453.650000,2691.95000
9,CL-1886922,179500989.0,53,Truck,0.0,1252.250000,3145.04375
10,CL-1727554,176634765.0,60,Car,1.0,1584.750000,6924.15000
11,CL-1984398,124196289.0,40,Van,0.0,1264.250000,650.95000
12,CL-1927305,132014482.0,34,Car,0.0,1135.450000,350.95000
13,CL-1543745,173697008.0,29,Truck,0.0,1495.150000,3145.04375
14,CL-1525750,130465403.0,36,Car,0.0,1123.250000,264.75000
15,CL-1773900,154882349.0,40,Truck,0.0,1317.179412,598.65000
16,CL-1354933,154877763.0,52,Van,0.0,1317.179412,921.75000
17,CL-1353387,181411853.0,29,Truck,0.0,1401.250000,3145.04375
18,CL-1337183,141365962.0,40,Car,1.0,1672.750000,5919.15000
19,CL-1969136,123456789.0,45,Van,1.0,1317.179412,3145.04375
20,CL-1893203,161682966.0,65,Car,0.0,1425.650000,736.95000

In [42]:
claims_data_F1['Policy_Num'] = claims_data_F1['Policy_Num'].astype(int)
claims_data_F1['Pre_Claims'] = claims_data_F1['Pre_Claims'].astype(int)
claims_data_F1

,Claim_ID,Policy_Num,Driver_Age,Policy_Type,Pre_Claims,Premium_AMT,Claim_AMT
0,CL-1292034,176751871,25,Car,0,1272.450000,12634.25000
1,CL-1742889,135517422,26,Truck,0,1052.250000,8956.15000
2,CL-1384474,176552663,19,Car,1,1389.750000,3691.65000
3,CL-1283351,157711099,35,Car,0,980.850000,3145.04375
4,CL-1712003,140846711,40,Car,0,1567.450000,2934.25000
5,CL-1518709,126885444,40,Van,0,1173.950000,590.65000
6,CL-1661021,191874052,61,Car,0,1317.179412,1492.35000
7,CL-1622931,184558739,38,Van,0,1146.950000,962.15000
8,CL-1470986,179027710,40,Van,1,1453.650000,2691.95000
9,CL-1886922,179500989,53,Truck,0,1252.250000,3145.04375
10,CL-1727554,176634765,60,Car,1,1584.750000,6924.15000
11,CL-1984398,124196289,40,Van,0,1264.250000,650.95000
12,CL-1927305,132014482,34,Car,0,1135.450000,350.95000
13,CL-1543745,173697008,29,Truck,0,1495.150000,3145.04375
14,CL-1525750,130465403,36,Car,0,1123.250000,264.75000
15,CL-1773900,154882349,40,Truck,0,1317.179412,598.65000
16,CL-1354933,154877763,52,Van,0,1317.179412,921.75000
17,CL-1353387,181411853,29,Truck,0,1401.250000,3145.04375
18,CL-1337183,141365962,40,Car,1,1672.750000,5919.15000
19,CL-1969136,123456789,45,Van,1,1317.179412,3145.04375
20,CL-1893203,161682966,65,Car,0,1425.650000,736.95000